<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<nav>
		<div class="logo">
			<a href="#">Automobile System</a>
		</div>
		<ul class="nav-links">
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Contact Us</a></li>
                        <li><a href="#">USER</a></li>
		</ul>
		
	</nav>
<form >
<img src="carq.jpg" alt="Girl in a jacket" height= 600 width=800>
<input type="submit" class="book-mechanic" value="voice assistanc" formaction="/voice">
</form>
<a href="#" class="book-mechanic">Book a Mechanic</a>
<a href="#" class="book-mechanic">Book a driver</a>
<a href="#" class="book-mechanic">buy parts</a>
<a href="#" class="book-mechanic">car rentals</a>
</body>
</html>