<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stule.css">
</head>
<body>
    
    <div class="container">
		<div class="form-container">
			<h1>User Login</h1>
			<form>
				<label for="username">Username</label>
				<input type="text" name="username" id="username" required>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" required>
				<input type="submit" value="Log in" formaction="/usr">
		</form>
			<div class="link">
				<a href="#">Forgot Password?</a>
			</div>
			<div class="toggle-button">
				<a href="/register" >Register as user</a>
			</div>
		</div>
	<div class="form-container-mechanic">
		<h1>Mechanic Login</h1>
		<form >
			<label for="username">Username</label>
			<input type="text" name="mechanicusername" id="mechanicname" required>
			<label for="password">Password</label>
			<input type="password" name="mechanicpassword" id="mechanicpassword" required>
			<input type="submit" value="Log in" formaction="/mech">
		</form>
		<div class="link">
			<a href="/">Forgot Password?</a>
		</div>
		<div class="toggle-button">
			<a href="/registermech" onclick="toggleForm()">Register as mechanic</a>
		</div>
	</div>
	

</body>
</html>